.bike-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding: 10px;
}

.bike-information {
  margin: 20px;
  padding: 10px;
  background: rgb(248, 248, 250);
  border-radius: 5px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07);
}
.bike-sec {
  display: flex;
}
.logo {
  width: 40%;
}
.bike-name {
  display: flex;
  justify-content: space-between;
}
.bike-details {
  padding: 10px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cnf-button {
  display: flex;
  justify-content: space-between;
}
.booking-button {
  width: 100%;
  color: white;
  border: 1px solid white;
  padding: 5px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
}
.span-tag {
  background-color: #003580;
  color: white;
  padding: 3px;
  border-radius: 3px;
}

.btn2 {
  background-color: #dc3546af;
}
.rate {
  color: #dddb36;
}

@media only screen and (max-width: 600px) {
  .cnf-button {
    display: flex;

    justify-content: space-between;
    width: 100%;
  }

  .bike-information {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
  }
  .bike-sec {
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .bike-details {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btn2 {
    margin: 0px;
  }
}
