.banner-body {
  background-color: rgba(248, 245, 245, 0.932);
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;

  padding: 30px;
  margin-bottom: 20px;
}
.header {
  font-size: 350%;
  font-weight: bold;
}
.header-p {
  color: gray;
}

.banner-details {
  padding: 10px;
}
.banner-btn {
  background-color: #dc3546f8;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
}
.banner-img {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .banner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    align-items: center;
    justify-items: center;
    padding: 0px;
    margin-bottom: 20px;
  }

  .banner-img {
    width: 100%;
    border-radius: 30px;
    padding: 0 20px;
  }
}
